# OS-specific files
.DS_Store
Thumbs.db

# Node & Package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Composer
vendor/
composer.lock

# VSCode
.vscode/
*.code-workspace

# PHPStorm / IDEs
.idea/

# Logs & temp files
*.log
*.tmp
*.swp
*.swo
*.bak

# Environment variables
.env
.env.*
!.env.example

# Docker
data/
docker-compose.override.yml
*.pid
*.seed

# MySQL / MariaDB data
mysql/
**/mysql/
**/db_data/

# Dolibarr specific
documents/
htdocs/conf/conf.php
htdocs/install.lock

# Cache
cache/
tmp/
data/
